/*==================== Header =============================*/

header {
  background: var(--blue-100);
  max-width: 69.75rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  gap: 8px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo p {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  white-space: break-spaces;

  color: var(--blue-500);
  width: 85px;
}

.logo span {
  font-weight: 900;
  font-size: 12px;
  background: linear-gradient(to right, #fb051e, #004289, #00b148, #ff9600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo img {
  width: auto;
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transform: rotate(-5deg);
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul,
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  gap: 4px;
}

nav a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
  font-size: 12px;
}

nav .active a,
nav a:hover {
  background-color: var(--blue-500);
  color: #fff;
  border-radius: 8px;
}

/* ========================== Main Banner ==============================*/
#banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  height: 100%;

  gap: 24px;
}

.banner_headline img {
  width: 50%;
  height: auto;
}

.headline_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 2px;
  width: 100%;
  height: 100%;
}

.headline_text h4 {
  font-size: 1.6rem;
  font-weight: 500;
  font-color: #333;
  text-transform: uppercase;
}

.headline_text h2 {
  font-size: 4.8rem;
  font-weight: 900;
  font-color: #333;
  text-transform: uppercase;

  background: linear-gradient(
    to right,
    #d32730 5%,
    #fb051e 20%,
    #00659a 30%,
    #004289 45%,
    #009d3f 55%,
    #00b148 70%,
    #ffc100 80%,
    #ff9600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner_options {
  display: flex;
  height: 210px;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #fff;
  padding: 20px;
}

.banner1 {
  background-color: var(--blue-400);
}

.banner2 {
  background-color: var(--blue-600);
}

.banner3 {
  background-color: var(--blue-700);
}

.banner_title {
  font-size: 21px;
}

.banner_desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: 13px;
}

.banner3 .banner_desc {
  display: flex;
  border-bottom: 1px solid #9a9898;
}

.banner_table1 {
  flex: 1;
  padding-bottom: 5px;
}
/* ================================= main section =================================*/

#geral {
  display: flex;
  justify-content: center;
}


/* ================================= main aside =================================*/

#geral aside {
  flex: 1;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #333;
  font-size: 21px;
  font-weight: bold;
}

.widget_title_bar {
  margin-top: 10px;
  width: 50px;
  height: 3px;
  background-color: var(--blue-500);
}

.widget_body .blue_box {
  display: flex;
}

.widget_body .blue_box_aside1,
.widget_body .blue_box_aside2 {
  background-color: var(--blue-500);
  width: 100%;
  height: 140px;
}

.widget_body .blue_box_aside1 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.widget_body .blue_box_aside2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.boxes {
  margin-top: 20px;
  display: flex;
  border-top: 1px solid #9a9898;
  padding-top: 10px;
}

#last {
  padding-bottom: 10px;
  border-bottom: 1px solid #9a9898;
}

.boxes p {
  margin-left: 10px;
}

.boxes p a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/*========================== Main article =========================*/

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

article a {
  text-decoration: none;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: var(--blue-700);
  color: #fff;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

article .news_comments {
  background-color: var(--blue-500);
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

article .news_thumb {
  margin-top: 30px;
}

article .news_thumb img {
  width: 100%;
  height: auto;
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  color: #000;
}

article .news_resume {
  line-height: 20px;
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 30px;
}

.mensagem__titulo{
  font-size: 14px;
  font-weight: 400;
  color: #333;
  white: 100%;
}
/*============================= Footer =============================*/

footer {
  max-width: 69.75rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.footer_menu {
  display: flex;
  width: 100%;
}

#fm1,
#fm2,
#fm3 {
  flex: 1;
  color: #fff;
  padding: 20px;
}


#fm1 {
  background-color: var(--blue-400);
}

#fm2 {
  background-color: var(--blue-600);
}

#fm3 {
  background-color: var(--blue-700);
}

.footer_menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}


.footer_area {
  display: flex;
}

.area_item {
  flex: 1;
}

.area_item ul{
}




.footer_copy {
  color: #5c5c5c;
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  margin-top: 30px;
}

.menu_mobile {
  display: none;
  padding: 8px;
  gap: 6px;
  width: 38px;
  cursor: pointer;
}

.menu_mobile:hover {
  border-radius: 4px;
  background-color: var(--blue-200);
}

.mm_line {
  height: 2px;
  background-color: var(--blue-500);
}

.area_item li a {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid #f0f9fe;
  overflow: hidden;
}

.area_item li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.area_item li:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}

.area_item li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.area_item li:nth-child(1) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.area_item li:nth-child(2) {
  --bg-color: #0077b5;
}

.area_item li:nth-child(3) {
  --bg-color: #000;
} 

/*=============================== responsividade ================*/

@media (max-width: 600px) {
  header {
    height: auto;
  }

  .menu_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .banner_headline h1 {
    margin-top: 10px;
    margin-left: 20px;
  }

  .banner_headline h2 {
    margin-left: 20px;
  }

  .banner_options {
    height: auto;
    flex-direction: column;
    margin-top: 100px;
  }

  #banner {
    height: auto;
  }

  section .container {
    flex-direction: column;
  }

  #geral section {
    padding: 20px;
  }

  #geral aside {
    padding: 20px;
  }

  .widget_body .blue_box_aside1 {
    margin-left: 20px;
  }

  .widget_body .blue_box_aside2 {
    margin-right: 20px;
  }

  .footer_menu {
    flex-direction: column;
  }

  .footer_area {
    flex-direction: column;
    padding: 20px;
  }

  .footer_copy {
    padding-left: 20px;
  }
}


/* .blue {
  margin-left: 20px;
  color: var(--blue-500);
} */